<div class="movies">
  <h3>Movies to Watch</h3>
  <ol>
    <li>{{ movies[0] }}</li>
    <li>{{ movies[1] }}</li>
    <li>{{ movies[2] }}</li>
    <li>{{ movies[3] }}</li>
  </ol>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
    </div>
    <div class="col-3">
      <p>No content here yet...</p>
    </div>
    <div class="col-3">
      <p>No content here yet...</p>
    </div>
  </div>
</div>
    <app-chores-list></app-chores-list>
    <div class="container">
      <div class="row justify-content-center">
        <!-- Add reference to fav-photos component -->
        <app-fav-photos></app-fav-photos>
      </div>
    </div>
    


